head
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title Ela Admin - HTML5 Admin Template
meta(name='description', content='Ela Admin - HTML5 Admin Template')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet', href='css/normalize.min.css')
link(rel='stylesheet', href='css/bootstrap.min.css')
link(rel='stylesheet', href='css/font-awesome.min.css')
link(rel='stylesheet', href='css/themify-icons.css')
link(rel='stylesheet', href='css/pe-icon-7-stroke.min.css')
link(rel='stylesheet', href='css/flag-icon.min.css')
link(rel='stylesheet', href='css/cs-skin-elastic.css')
link(rel='stylesheet', href='css/style.css')
link(href='css/chartist.min.css', rel='stylesheet')
link(href='css/jqvmap.min.css', rel='stylesheet')
link(href='css/weather-icons.css', rel='stylesheet')
link(href='css/fullcalendar.min.css', rel='stylesheet')
style.
    #weatherWidget .currentDesc {
    color: #ffffff!important;
    }
    .traffic-chart {
    min-height: 335px;
    }
    #flotPie1  {
    height: 150px;
    }
    #flotPie1 td {
    padding:3px;
    }
    #flotPie1 table {
    top: 20px!important;
    right: -10px!important;
    }
    .chart-container {
    display: table;
    min-width: 270px ;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    #flotLine5  {
    height: 105px;
    }
    #flotBarChart {
    height: 150px;
    }
    #cellPaiChart{
    height: 160px;
    }
