<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src='js/angular.js')
        title WidgetEngine
    body
        div(ng-app="")
            input#email(type="email", ng-model="email")
            span(ng-bind="email")